<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>
    <table class="table table-hover">
       <tr class="table-primary">
        <th>ID</th>
        <th>name</th>
        <th>price</th>    
        <th>description</th>  
        <th>created_at</th>
       </tr >
        {% for i in p %}
       <tr class="table-success">
           <td>{{ i.id }}</td>
           <td class="table-danger">{{ i.name }}</td>
           <td>{{ i.price }}</td>
           <td>{{ i.description }}</td>
           <td>{{ i.created_at }}</td>
           
       </tr>     
        {% endfor %}
    </table>
</body>
</html>